# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnruJtQT6TpeyTOIN_CH6QPGUnNfKjo9Cy6A&s

https://i.pinimg.com/originals/b0/36/63/b03663786fdf4c65fa4338a8fd169ead.jpg

https://img.goodfon.com/wallpaper/big/3/55/code-coding-laptop-programming.webp




https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSigO3YbHKgD9YokEwYygYGXDBPJEwO-wlUng&s
https://img.freepik.com/premium-vector/program-coding-computer-editor-develop-web-page_24908-18746.jpg
https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAePp9NpPYbPluF1Bk9nJOqkMIbeZooBjwSQ&s
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0mUqu3tPNCdEGOdUC_abjjxnOiV9DOwmE4MyLZbLfMETRLzeNH1-OXKdrcFT8ScgOkzE&usqp=CAU
https://icon2.cleanpng.com/20180330/vqw/avcjjjjjd.webp